h1 Condizioni d'uso
p I dati verranno utilizzati unicamente a scopo di pianificazione della campagna e raccolta firme per la legalizzazione della Cannabis in Svizzera. Sostenitori e collaboratori verranno informati per iscritto od in forma elettronica in merito alle novità e verrà loro chiesto ulteriore aiuto qualora possibile.
p I dati raccolti verranno utilizzati unicamente a tal scopo e non verranno ritrasmessi a terzi.
p I dati inseriti nel formulario vengono trasmessi in maniera criptata. Una volta trasmessi, i dati vengono salvati sui nostri Server regolarmente sottoposti a manutanzione e protetti da accessi di terze persone. 

