h1 = title t('.title')
h2 Wie sieht das weitere Vorgehen aus?
p Von 2016 bis 2018 hat eine Arbeitsgruppe in unserem Verein Legalize it! Vorbereitungsarbeiten für eine neue Volksinitiative geleistet. Dabei haben wir immer wieder diskutiert, ob für dieses spezielle Projekt ein eigener Verein gegründet werden sollte. Nach einigen Abklärungen ist dies nun geschehen. Per Ende 2018 hat der Verein Legalize it! das Projekt Initiative an den neuen Verein Cannabis Consensus Schweiz (CCCH) abgegeben und den Überschuss des Projektes an diesen weitergeleitet. Anfang 2019 wurde der CCCH gegründet, am 8. Mai fand eine Generalversammlung statt, die ein erstes Budget verabschiedete und den Vorstand gewählt hat. Es wird nun noch etwas Zeit brauchen, bis sich das neue Gefäss strukturiert hat. Der Verein Legalize it! wird sich an diesem Projekt nach Möglichkeit weiterhin beteiligen. Weitere Informationen folgen, sobald wir mehr wissen.

p
  a href="/" Zurück zum Formular
