.well
  h2.sr-only A propos de l'initiative
  p = image_tag 'li_logo.svg', class: 'img-responsive', alt: 'Logo de l\'association Legalize It!'
  p Nous voulons recueillir les signatures nécessaires pour une initiative populaire pour la légalisation du cannabis. Pour l’exécution de ce projet, un nouveau concept de collection a été mis sur pieds. Cela fonctionne en trois étapes:
  
  p
    strong Etape 1:  
    | Avec ce formulaire en ligne, nous recueillions des sympathisants et des militants potentiels.
  p
    strong Etape 2:  
    | Une fois que le nombre nécessaire de personnes est atteint, nous pouvons regarder dans quel région de la Suisse se trouvent les différents militants.
  p
    strong Etape 3:  
    | Grâce à une logistique sophistiquée, les sympathisants et militants seront réunis pour pouvoir obtenir ensemble les signatures nécessaires.
  
  p.lead Donc, si tu désires <span class="text-success">légaliser le cannabis en Suisse</span>, remplis le formulaire ci-dessous et aide nous à faire un grand pas dans l'histoire
  
  h3 Qui se trouve derrière cette action?
  p L'action a été lancée par les membres de l'association Legalize It!. Depuis 25 ans, nous, de l’association Legalize It!, aidons les gens qui utilisent des produits à base de THC et répondons volontiers à leurs questions.
