p
  = link_to 'https://marryjane.ch/de/product/legalize-it-indoor/', target: '_blank' do
    = image_tag 'gruene_hilfe_button.png', class: 'img-responsive', alt: 'Jetzt die Initiative mit einem Initiativsäckli unterstützen!'

.well
  h2.sr-only Über die Initiative
  p = image_tag 'li_logo.svg', class: 'img-responsive', alt: 'Logo des Vereins Legalize it!'
  p Wir wollen die nötigen Unterschriften für eine Volksinitiative zur Cannabis-Legalisierung sammeln. Für die Umsetzung setzt man auf ein neues Sammelkonzept. Dies funktioniert in drei Schritten:

  p
    strong Schritt 1:
    | Durch dieses Onlineformular sammeln wir Sympathisanten und potentielle Aktivisten.
  p
    strong Schritt 2:
    | Sobald die geforderte Anzahl Personen gesammelt sind, schauen wir, wie viele Ressourcen an Helfer/innen an welchen Orten benötigt werden.
  p
    strong Schritt 3:
    | Durch eine ausgeklügelte Logistik werden Sympathisanten und Aktivisten zusammengebracht, um gemeinsam die nötigen Unterschriften zu generieren.

  p.lead Wenn du also <span class="text-success">Cannabis in der Schweiz legalisieren</span> willst, fülle das nebenstehende Formular aus und schreibe mit uns Geschichte.

  / p.embed-responsive.embed-responsive-4by3
    iframe.embed-responsive-item src="https://www.youtube.com/embed/l5DjuLXRVVM" frameborder="0" allowfullscreen=""
  / p.embed-responsive.embed-responsive-4by3
    iframe src="https://www.youtube.com/embed/videoseries?list=PLlC7Go4yV6YKunLd6O627HTQlNswQQ6vw" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen

  h3 Wer steht hinter dieser Aktion?
  p Die Aktion wurde von Mitgliedern des Verein Legalize it! initiiert. Seit 25 Jahren helfen wir vom Verein Legalize it! Menschen, die mit THC-Produkten Umgang pflegen, bei den unterschiedlichsten Fragen.
