/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "typeaheadjs"
@import "footnotes"
@import "statements"
@import "donations"
@import "nav"

.alert-alert
  @extend .alert-danger

.alert-notice
  @extend .alert-info

body.admin
  background: repeating-linear-gradient(45deg, yellow, yellow 50px, black 50px, black 100px)

body
  nav.languages
    position: relative
    padding: 3px

  .container.content
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    padding: 20px
    margin-top: 10px
    background: #FFF
  
  .anouncement
    margin-top: 10px

    .lead
      margin: 0px

  header
    .pagelogo
      max-height: 91px
    h1
      font-size: 20px
      margin-top: 35px
  
  .navbar
    .container
      padding-left: 0px
  
  header > .row
    margin-bottom: 12px
  
  main > h1
    margin-top: 0px

  ul#topnav
    font-size: 1.2em
    
    li
      text-transform: uppercase
      
      ul
        li 
          text-transform: none
    
    li.active
      border-bottom: 1px solid #66903F
  
  .lead
    font-weight: normal
    
  #new_supporter
    label.required
      abbr
        display: none
  
  #counter
    background-color: $brand-success
    margin-top: 24px
    padding: 3px 6px
    border: 1px solid $brand-success
    border-radius: 5px
    color: white
    
    .counter_char
      background-color: white
      width: 20px
      padding: 2px
      margin: 0px 2px
      border: 1px solid $brand-success
      border-radius: 5px
      display: inline-block
      text-align: center
      color: $brand-success
  
  .text-success
    color: $brand-success

  .portrait
    display: block
    float: left
    margin: 12px
  
  .table-inherit
    width: inherit
  
  footer 
    h2
      margin: 0px
      font-size: $font-size-base

    ol 
      padding-left: 1em
  
  .donation_button
    height: 50px
    background: $brand-success
    width: 200px
    text-align: center
    font-size: 18px
    line-height: 50px
    font-family: sans-serif
    color: #FFF
    transform: rotate(-45deg)
    position: relative
    top: 26px
    left: -47px
    box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.34)

    a 
      color: #FFF

    