@import "variables"

nav#mainnav
  marign-top: 12px
  font-size: 16pt

  a
    color: $brand-success

  a.selected
    font-weight: bold


  ul
    list-style: none
    padding: 0px

    li
      padding: 5px 5px 5px 10px
      
      ul
        padding-left: 20px

        li
          font-size: 12pt
    
    li.selected
      background-color: $brand-success
      a
        color: white
